.service-section {
  width: 90%;
  margin: 0 auto;
  padding-top: 40px; /* Add padding at the top for spacing */
}

.services-title {
  text-align: center;
  font-size: 2em; /* Adjust the size as needed */
  margin-bottom: 40px; /* Adjust the spacing as needed */
  color: #333; /* Adjust the color as needed */
}

.services {
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.service {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9; /* Default background color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #1b7dbb; /* Blue border */
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
  position: relative; /* Relative positioning for absolute icon positioning */
}

.service:hover {
  background-color: #1b7dbb; /* Blue background color on hover */
  color: white; /* White text color on hover */
}

.service p {
  margin: 0;
  max-width: 80%; /* Limit text width */
  line-height: 1.4; /* Adjust line height */
  color: #333; /* Default text color */
}

.service:hover p {
  color: white; /* White text color on hover */
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; /* Adjust the size of the circle */
  height: 80px; /* Adjust the size of the circle */
  background-color: #1b7dbb; /* Blue background color */
  border-radius: 50%; /* Create a circle */
  margin-bottom: 15px; /* Spacing between icon and text */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
}

.service:hover .icon-container {
  background-color: white; /* White circle background on hover */
}

.icon {
  font-size: 3rem; /* Adjust icon size */
  color: white; /* White icon color */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
}

.service:hover .icon {
  color: #1b7dbb; /* Blue icon color on hover */
  transform: scale(1.1); /* Slightly enlarge the icon */
}

.service-title {
  margin-bottom: 20px; /* Adjust spacing between title and icon */
  font-size: 1.5em; /* Adjust the size as needed */
  margin-top: 15px; /* Adjust spacing between icon and title */
}

.service-section h2 {
  text-align: center;
  color: #1b7dbb;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.services-subtitle{
  font-size: 32px;
  margin-bottom: 50px;
  margin-top: 5px;
  color: #2e2960;
  text-transform: none;
  text-align: center;
}