.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 30px;
    background-color: white;
}

.hero-text {
    max-width: 50%;
    text-align: left;
    z-index: 2; /* Ensures the text is on top */
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 600;
    color: black;
    margin: 0 0 20px 0;
}

.hero-text p {
    max-width: 100%; 
    margin: 10px 0 20px 0;
    line-height: 1.4;
}

.hero-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../../assets/hero.png') no-repeat center right;
    background-size: contain;
    z-index: 1; /* Image stays behind the text */
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1b7dbb;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
    z-index: 3; /* Ensures buttons are clickable */
}

.btn i {
    margin-left: 12px;
    margin-top: 2px;
}

.btn:hover {
    background: #155a8a;
}

.btn.secondary {
    background-color: white;
    color: black;
    border: 2px solid rgb(177, 175, 175);
    z-index: 3; /* Ensures buttons are clickable */
}

.btn.secondary:hover {
    background-color: #e2e0e0;
    color: black;
}

.btns {
    text-align: center;
    z-index: 3; /* Ensures buttons are clickable */
}
