.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 0 auto; /* Center the element and add margins */
    text-align: justify; /* Align text justified */
  }


  
  .about-content { 
    width: 80%;
  }
  
  .about-img {
    border-radius: 10px;
    margin: 50px 0; /*Space between image and text */
    width : 1200px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5); 
  }
  
  .about-content h3, .about-content h2, .about-content p {
    margin: 0 0 10px; /* Space between text elements */
  }
  
  .about-content h3 {
    margin-top: 120px;
    font-size: 1.5em; /* Adjust font size as needed */
    text-align: center;
    color: #1b7dbb;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase
  }
  
  .about-content h2 {
    font-size: 32px;
    margin-top: 5px;
    color: #2e2960;
    text-transform: none;
    text-align: center;
  }
  
  .about-content p {
    font-size: 1em; /* Adjust font size as needed */
    color: #666; /* Adjust color as needed */
    line-height: 1.8; /* Adjust line height as needed */
    /* max-width: 800px; */
  }

  .about-content li{
    margin-left: 50px;
  }

  .about-content b {
    font-weight: 600; /* Adjust font weight as needed */
    font-size: 1.1em; /* Adjust font size as needed */
    color: #333; /* Adjust color as needed */
  }

  .about-content ul {
    font-size: 1em; /* Adjust font size as needed */
    color: #666; /* Adjust color as needed */
    line-height: 1.8; /* Adjust line height as needed */
    /* max-width: 800px; */
  }
  
  .about-content li {
    margin-top: 20px;
  }