.contact {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.contact h3 {
  font-size: 1.5em; /* Adjust font size as needed */
  color: #1b7dbb;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact h2 {
  font-size: 32px;
  margin-top: 5px;
  color: #2e2960;
  text-transform: none;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: space-between; /* Ensure equal spacing between columns */
  text-align: left;
  flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
}



.contact-col h2, .contact-col p,
.contact-col2 form {
  text-align: justify;
  margin-bottom: 20px;
}

.contact-col ul {
  list-style-type: none;
  padding: 0;
}

.contact-col li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.contact-col li i {
  margin-right: 10px;
  color: #1b7dbb;
  font-size: 1.5em;
}

.contact-col p, .contact-col2 form label {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 20px;
}

.msg-icon {
  width: 40px; /* Adjust the size as needed */
  height: auto;
  margin-left: 10px; /* Space between text and image */
}

.contact-col2 form input, .contact-col2 form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-col2 form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1b7dbb;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center; 
}

.contact-col2 form button i {
  margin-left: 10px; /* Space between text and icon */
}


.contact-col2 form button:hover {
  background-color: #155a8a;
}

.contact-col2 form{
  margin-top: 30px;
}

.contact-col2 span{
  display: block;
  margin: 20px 0;
}